### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]



hackatonPNE/activity/static/data/*.geojson


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyBuilder
target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
.venv
db.sqlite3